---
permalink: /feed/index.html
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>{{ wordpressFeed.title | xmlEscape | safe }}</title>
    <link>{{ wordpressFeed.archiveUrl | absoluteUrl(seo.origin) | xmlEscape | safe }}</link>
    <description>{{ wordpressFeed.description | xmlEscape | safe }}</description>
    <language>sl-SI</language>
    <lastBuildDate>{{ wordpressFeed.posts[0].date | rssDate }}</lastBuildDate>
    <atom:link href="{{ wordpressFeed.permalink | absoluteUrl(seo.origin) | xmlEscape | safe }}" rel="self" type="application/rss+xml" />
    {% for post in wordpressFeed.posts %}
    {% set itemImage = post.featuredImage or post.leadImage %}
    <item>
      <title>{{ post.title | xmlEscape | safe }}</title>
      <link>{{ post.permalink | absoluteUrl(seo.origin) | xmlEscape | safe }}</link>
      <guid isPermaLink="true">{{ post.permalink | absoluteUrl(seo.origin) | xmlEscape | safe }}</guid>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      <description>{{ (post.seoDescription or post.metaDescription or post.summary) | xmlEscape | safe }}</description>
      {% if itemImage %}<media:content url="{{ itemImage | absoluteUrl(seo.origin) | xmlEscape | safe }}" medium="image"><media:description type="plain">{{ itemImage | imageAlt('sl', post.title) | xmlEscape | safe }}</media:description></media:content>{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
