---
pagination:
  data: wordpressArchives.feeds
  size: 1
  alias: feedPage
permalink: "{{ feedPage.permalink }}"
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ feedPage.lang }}">
  <title>{{ feedPage.title | xmlEscape | safe }}</title>
  <subtitle>{{ feedPage.subtitle | xmlEscape | safe }}</subtitle>
  <id>{{ feedPage.archiveUrl | absoluteUrl(seo.origin) | xmlEscape | safe }}</id>
  <link href="{{ feedPage.archiveUrl | absoluteUrl(seo.origin) | xmlEscape | safe }}" />
  <link rel="self" type="application/atom+xml" href="{{ feedPage.feedUrl | absoluteUrl(seo.origin) | xmlEscape | safe }}" />
  {% if feedPage.posts.length %}<updated>{{ feedPage.posts[0].date | isoLjubljana }}</updated>{% endif %}
  <author><name>Žan Kafol</name><uri>{{ '/' | absoluteUrl(seo.origin) | xmlEscape | safe }}</uri></author>
  {% for post in feedPage.posts %}
  <entry>
    <title>{{ post.title | xmlEscape | safe }}</title>
    <id>{{ post.permalink | absoluteUrl(seo.origin) | xmlEscape | safe }}</id>
    <link href="{{ post.permalink | absoluteUrl(seo.origin) | xmlEscape | safe }}" />
    <published>{{ post.date | isoLjubljana }}</published>
    <updated>{{ (post.modified or post.date) | isoLjubljana }}</updated>
    <summary type="text">{{ (post.seoDescription or post.summary) | xmlEscape | safe }}</summary>
  </entry>
  {% endfor %}
</feed>
